@import url('https://fonts.googleapis.com/css?family=Open+Sans:i:b:100,300,600');
@import url('https://fonts.googleapis.com/css?family=Tangerine:100,400');

@font-face {
    font-family: passion;
    src: url('../../resources/fonts/PassionOne-Regular.ttf');
}

.screen {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    min-height: 100%;
}

#screen {
    //background-color: white;
    color: #222222;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: lighter;
    transition: opacity 300ms;
    opacity: 1;
}

.bold {
    font-weight: bold;
}

.spacer {
    height: 125px;
}

p {
    font-size: 18px;
}

h1 {
    font-size: 40px;
    text-align: center;
}

h2 {
    font-size: 30px;
    text-align: center;
}

h3 {
    font-size: 20px;
    text-align: center;
}

h1, h2, h3 {
    margin: 0px;
    line-height: 1.2;
    padding: 5px;
    text-align: center;
}

/*
@media only screen and (max-width: 800px) {
    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 20px;
    }

    #screen {
        font-size: 16px;
    }
}
*/

.icon {
    width: 128px;
    height: auto;
    margin-top: 10px;
}

.divider {
    margin: 10px 128px 10px 128px;
    border-bottom: 1px solid black;
}

.sectionSpacer {
    width: 70%;
    height: 1px;
    background-color: black;
    margin-left: 15%;
    margin-top: 25px;
    margin-bottom: 25px;
}

#detailsBlock {
    margin-top: 12px;
    margin-bottom: 12px;
}

.container {
    margin-top: 25px;
}

#description {
    text-align: center;
}

#mapBlock {
    border: solid 1px black;
    background-color: #F8FCFF;
}

#map {
    height: 400px;
    padding: 15px;
}

#mapInset {
    height: 100%;
}

#mapInfo {
    height: 370px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sliderImage {
    backface-visibility: hidden;
}

#grid {
    margin-top: 10px;
    text-align: center;
}

.gridCell {
    display: inline-block;
    margin: 10px;
    width: 240px;
    height: 160px;
    background-size: cover;
    overflow: hidden;
    transition: transform 120ms;
}

.gridCell:hover {
    //transform: scale(1.05, 1.05);
}

.videoContainer {
    display: flex;
    justify-content: center;
}

#agentBlock {
    padding: 20px;
}

.sectionHeader {
    margin-bottom: 12px;

}

#contactInfo {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#agentPhoto {
    max-width: 15%;
    margin: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#brokerLogoCell {
    display: flex;
    flex-direction: column;
    //justify-content: center;
    align-items: center;
}
#brokerLogo {
    margin: 20px;
}

#brokerLicense {
    font-size: 12px;
}

#hometourphoto {
    display: flex;
    margin-top: 60px;
    justify-content: center;
}

#logo {
    width: 128px;
    height: 94px;
}
