@import url('https://fonts.googleapis.com/css?family=Open+Sans:i:b:100,300,600');
@import url('https://fonts.googleapis.com/css?family=Tangerine:400,700');

@font-face {
    font-family: passion;
    src: url('../resources/fonts/PassionOne-Regular.ttf');
}

.screen {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

#screen {
    background-color: white;
    color: #222222;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: lighter;
    transition: opacity 300ms;
    opacity: 0;
}

.bold {
    font-weight: bold;
}

.topSpacer {
    height: 125px;
}

p {
    padding-top: 5px;
}

h1 {
    font-weight: 100;
    font-size: 48px;
}

h2 {
    font-weight: 100;
    font-size: 28px;
}

h3 {
    font-weight: 600;
    font-size: 22px;
}
/*
@media only screen and (max-width: 800px) {
    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 20px;
    }

    #screen {
        font-size: 16px;
    }
}
*/

.icon {
    width: 128px;
    height: auto;
    margin-top: 10px;
}

.divider {
    margin: 10px 128px 10px 128px;
    border-bottom: 1px solid black;
}

#comingSoon {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 98px;
    color: white;
    background-color: red;
    text-align: center;
    font-weight: 600;
    font-size: 40px;
    padding: 20px;
    opacity: .8;
}

#navbar {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 98px;
    background-color: #7a4;
    color: white;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 300;
}

#navbarLogo {
    position: absolute;
    left: 34px;
    top: 0px;
    width: 96px;
    height: auto;
}

#navbarName {
    position: absolute;
    left: 160px;
    font-family: "passion";
    color: #333;
    font-size: 42px;
    top: 6px;
    opacity: .8;
}

#navbarName2 {
    position: absolute;
    left: 162px;
    font-family: "passion";
    color: white;
    font-size: 42px;
    top: 4px;
}

#navbarInfo {
    position: absolute;
    right: 30px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    top: 2px;
}

#navbarContainer {
    position: absolute;
    left: 147px;
    top: 40px;
}

.navOption {
    display: inline-block;
    margin-left: 30px;
    margin-top: 15px;
}

.navOption:hover {
    text-decoration: underline;
}

.navOption.selected {
    font-weight: 600;
}

#navbarLogo {
    margin-top: 10px;
}

.priceTable > div {
    min-height: 70px;
    border-right: solid 1px black;
}

.priceTable > div.last {
    border-right: none;
}

.cancel {
    text-decoration: line-through;
}

.red {
    color: red;
    text-decoration: none;
}

#grid {
    margin-top: 50px;
    text-align: center;
}

.gridCell {
    display: inline-block;
    margin: 10px;
    width: 240px;
    height: 160px;
    background-size: cover;
    overflow: hidden;
    transition: transform 120ms;
}

.gridCell:hover {
    transform: scale(1.05, 1.05);
}

.contactIcon {
    font-size: 40px;
}

.contactText {
    font-size: 32px;
}
